@import "tango.css";

.dialog-pane .button-bar {
	-fx-border-color: #D4D4D4 #FFFFFF #FFFFFF #FFFFFF;
}

.dialog-pane .label {
	-fx-font-size: 14px;
}

.dialog-pane .header-panel .label {
	-fx-alignment: top-left;
	-fx-font-size: 38px;
	-fx-font-weight: bold;
}

.property-header {
	-fx-font-weight: bold;
}

.property-info {
	-fx-wrap-text: true;
}

.view {
	-fx-background-color: #FFFFFF;
}

#about > .label {
	-fx-graphic: url("/ui/dnainator.iconset/icon_16x16.png");
	-fx-padding: 0 10 0 5;
}

.gray-label {
	-fx-font-size: 11px;
	-fx-text-fill: #a8a8a8;
}

AbstractNode {
	-fx-font-size: 4px;
}

AbstractNode Edge {
	-fx-stroke: #000000;
	-fx-stroke-width: .2;
}

Strain ClusterDrawable {
	-fx-font-size: 4px;
}

Strain ClusterDrawable Circle {
	-fx-fill: #4C4C4C;
}

Strain Edge {
	-fx-font-size: 4px;
}

Strain Edge Circle {
	-fx-fill: #4C4C4C;
}

Strain Edge Line {
	-fx-stroke: #000000;
	-fx-stroke-width: .2;
}

Gene {
	-fx-font-size: 12px;
	-fx-background-color: rgba(255, 255, 228, 0.8);
	-fx-border-color: #D4D4D4;
	-fx-border-style: solid;
	-fx-border-width: 1;
}
<<<<<<< HEAD
=======

StrainControl .jump-invalid-prompt {
	-fx-prompt-text-fill: red;
}
>>>>>>> Add jump to gene
