.dialog-pane .button-bar {
	-fx-border-color: #D4D4D4 #FFFFFF #FFFFFF #FFFFFF;
}

.dialog-pane .label {
	-fx-font-size: 14px;
}

.dialog-pane .header-panel .label {
	-fx-alignment: top-left;
	-fx-font-size: 38px;
	-fx-font-weight: bold;
}

.view {
	-fx-background-color: #FFFFFF;
}

.drawable-node {
	-fx-fill: #4C4C4C;
}

.drawable-edge {
	-fx-fill: #666666;
}

#about > .label {
	-fx-graphic: url("/ui/dnainator.iconset/icon_16x16.png");
	-fx-padding: 0 10 0 5;
}
