.dialog-pane .label {
	-fx-font-size: 16pt;
	-fx-font-weight: bold;
	-fx-text-fill: #333333;
	-fx-alignment: center;
	-fx-label-padding: 10 10 10 10;
}

.view {
	-fx-background-color: #FFFFFF;
}

.sequence-view {
	-fx-background-color: #FFFFFF;
}

.drawable-node {
	-fx-fill: #4C4C4C;
}

.drawable-edge {
	-fx-fill: #666666;
}

#about > .label {
	-fx-graphic: url("/ui/icons/dnainator16x16.png");
	-fx-padding: 0 10 0 10;
}